<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>类别名称</td>
        <td>类别描述</td>
        <td>类别等级</td>
        <td>操作</td>
    </tr>
    <tr th:each="productType: ${productTypes}">
        <td th:text="${productType.productTypeName}">youfan</td>
        <td th:text="${productType.productTypeDescription}">2.41</td>
        <td th:text="${productType.productTypeGrade}">2.41</td>
        <td><a href="#" th:href="@{/findProductTypeById(id=${productType.id})}">查看</a>|<a href="#" th:href="@{/to_update_product_type(id=${productType.id})}">修改</a>|<a href="#" th:href="@{/deleteuserbyid(id=${user.id})}">删除</a></td>
    </tr>
</table>
</body>
</html>